body
{
	margin: 0px;
    background-color: #030303;
}

header
{
	height: 48px;
	padding: 0 20px;
	background-color: #1a1a1b;
	position: fixed;
	top: 0px;
	left: 0px;
}

.header_content
{
	float: left;
}
.redditLogo
{
  	width:32px;
	height:32px;
	padding: 8px 8px 8px 0px;
}
.redditName
{
  	height: 18px;
	margin: 15px 8px 15px 0px;
}

.subs
{
    height: 34px;
    width: 172px;
    background-color: #030303;
    float: left;
	padding: 0px 56px 0px 40px;
	margin: 7px 0px;
}
button
{
	border: 0px;
	background-color: inherit;
	width: inherit;
	height: inherit;
	text-align: left;
	color: #d7dadc;
	
}
.subs:hover
{
	border: 1px solid #d7dadc;
}
