body{margin: 0px;}

header
{
	height: 48px;
	padding: 0 20px;
	background-color: black;
}

.redditLogo{
	margin: auto ;
  	width:32px;
	height:32px;
	padding: 8px 0px 8px 8px;
}
.redditName{
  	height: 18px;
	margin: auto 8px auto 0px;
}
