body
{
	font-family: 'IBM Plex Sans', sans-serif;	
	margin: 0px;
    background-color: #030303;
}
header
{
	z-index: 1;
	width: 100%;
	height: 48px;
	padding: 0 20px;
	background-color: #1a1a1b;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #343536; 
}

.header_content
{
	float: left;
}
.redditLogo
{
  	width:32px;
	height:32px;
	padding: 8px 8px 8px 0px;
}
.redditName
{
  	height: 18px;
	margin: 15px 8px 15px 0px;
}

.subs
{
    height: 34px;
    width: 172px;
    background-color: inherit;
    float: left;
	padding: 0px 56px 0px 40px;
	border: 1px solid #1a1a1b;
	border-radius: 5px;
	margin: 7px 8px 7px 0px;
}
.subs:hover
{
	border-color: #343536;
}
.sub_img
{
	height: 22px;
	width: 22px;
	position: absolute;
	top: 13px;
	left: 145px;
}
.sub_arrow
{
	height: 20px;
	width: 20px;
	position: absolute;
	top: 13px;
	left: 360px;
}
button
{
	border: 0px;
	background-color: inherit;
	width: inherit;
	height: inherit;
	text-align: left;
	color: #d7dadc;
	padding-left: 10px;
	font-weight: 500;
	font-size: 14px;
}
.search
{
	float:left;
	height: 34px;
	width: 35%;
	background-color: #272729;
	margin: 7px 0px;
	border: 1px solid #343536;
	border-radius: 3px;
}
.search:hover
{
	border-color: #d7dadc;
	background-color: #1a1a1b;
}
.search_icon
{
	height: 18px;
	width: 18px;
}
.label_search
{
	margin: 8px 0px 8px 8px;
}
.search_box
{
	background-color: inherit;
	height: inherit;
	width: inherit;
	border: none;
	color: #818384;
	font-size: 14px;
}
.search_form
{
	height: inherit;
	width: inherit;
	display: inline;
}
.feed_type
{
	margin: 0px 8px;
	height: inherit;
	width: 100px;
	background-color: inherit;
}
.feed_icons
{
	height: 16px;
	width: 16px;
	margin: 16px 0px 16px 13px;
	background-color: inherit;
	float: left;
}
.separador
{
	margin: 8px; 
	height: 32px;
	border-right: 1px solid #343536;
}
.user_menu
{
	height: 34px;
	width: 215px;
	margin: 7px 0px;
	border: 1px solid #1a1a1b;
	background-color: inherit;
	border-radius: 5px;
	position: relative;
}
.user_menu:hover
{
	border: 1px solid #343536;
}
.profile_img
{
	float: left;
	margin: 5px;
	height: 24px;
	border-radius: 2px;
}
.user_data
{
	float: left;
	width: auto;
	height: inherit;
	color: #d7dadc;
	background-color: inherit;
	font-size: 13px;
	font-weight: 500;
	margin: 0px 5px;
}
.username::before
{
	content: "usuario123";
}
.karma_flower::after
{
	content: "123"
}
.user_arrow
{
	height: 20px;
	width: 20px;
	float: right;
	margin: 7px;
}
.divao
{
    height: 100%;
    width: 100%;

    display: flex;

    position: relative;

    padding-top: 20px;
    padding-bottom: 20px;

    padding-right:24px;
    padding-left:24px;

    margin-left: auto;
    margin-right: auto;

}

.post_list
{
    width: 648px;
    margin-top: 5%;
    margin-left: 25%;
    background-color: #030303;
    float: left;


}

.side_bar
{
    height: 500px;
    width: 312px;
    margin-top: 5%;
    margin-left: 24px;
    background-color: #1a1a1b;
    float: left;
}

.post
{
    position: relative;
    border-radius: 4px;
    border: 1px solid #343536;
    margin-bottom: 10px;
    height: 500px;
    width: inherit;
    background-color: #1a1a1b;
}

.post_details
{
    width: 40px;
    height: 484px;
    border-left: 4px solid transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 4px;
    background-color: #151516;
    
}

.upvote_downvote
{
    align-items: center;
    display: flex;
    fill: inherit;


}

.upvote
{
    height: 24px;
    width: 24px;
    overflow: hidden;
    display: inline-block;
    line-height: 24px;
    font-size: 16px;



}
.icon-upvote
{
    font-family: redesignFont;
}

.icon-upvote::after
{
    content: "\F131";
}
