<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./front.css" type="text/css" />
		<title>Login - reddit: the front page of internet</title>
	</head>
	<body>
		<div class="main_content">
			<div class="post spec">
				<div class="banner">
					<img class="login_Logo" src="../resources/images/reddit_logo.svg" alt="logo"/>
					<img class="login_Name" src="../resources/images/reddit_name.svg" alt="name"/>
				</div>
				<div class="form_container_login">
					<form action="./auth" method="post">
						<label class="form_label" for="username">Username</label>
						<input type="text" name="username" class="search_box user_field" value="" />
						<label class="form_label" for="password">Password</label>
						<input type="password" name="password" class="search_box pass_field" value="" />
						<button class="login_button login" type="submit">Login</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
