<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./front.css" type="text/css" />
		<title>Create Post - reddit: the front page of internet</title>
	</head>
	<body>
		<div class="main_content">
			<div class="post spec">
				<div class="banner">
					<img class="login_Logo" src="reddit_logo.svg" alt="logo"/>
					<img class="login_Name" src="reddit_name.svg" alt="name"/>
				</div>
				<div class="form_container_cadastro">
					<form action="./postar" method="post">
                        
                        <div class= "block_label_input">
                            <label class="form_label" for="titulo">Título do Post</label>
                            <input type="text" name="post_titulo" class="input_box user_field" value="" />
                        </div>
                        
                        <div class="block_label_input">
                            <label class="form_label" for="post_content">Conteúdo</label>
                            <input type="text" name="post_content" class="input_box" value="" />
                        </div>

                        <div class="block_label_input">
                            <label class="form_label" for="">Imagem</label>
                            <input type="file" name="post_image" class="input_box pass_field" accept="image/*" />
                        </div>

                        <button class="sing_up_button login" type="submit">Postar</button>
					</form>
				</div>
				{{#unless sucesso}}
					<div class="aviso erro">
						<span>{{mensagem}}</span>
					</div>
				{{/unless}}
			</div>
		</div>
	</body>
</html>
