<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="./front.css" type="text/css" />
		<title>Create Post - reddit: the front page of internet</title>
	</head>
	<body>
		<div class="main_content">
			<div class="post spec">
				<div class="banner">
					<img class="login_Logo" src="reddit_logo.svg" alt="logo"/>
					<img class="login_Name" src="reddit_name.svg" alt="name"/>
				</div>
				<div class="form_container_cadastro">
                        <form id="form_post" action="./postar" method="post" encType="multipart/form-data">
                            <div class= "block_label_input">
                                <label class="form_label" for="titulo">Título do Post</label>
                                <input type="text" name="post_titulo" class="input_box user_field" value="" />
                            </div>
                            
                            <div class="block_label_input">
                                <label class="form_label" for="post_content">Conteúdo</label>
                                <input type="text" name="post_content" class="input_box" value="" />
                            </div>

                            <div class="block_label_input">
                                <label class="form_label" for="">Imagem</label>
                                <input id="post_image" type="file" name="post_image" class="input_box pass_field" accept="image/*" />
                            </div>
                  
                            <progress id="progress" value=0></progress>
							<!--<button id="postBtn" class="sing_up_button login" type="submit">Postar</button>-->
                        </form>
						<button id="postBtn" class="sing_up_button login" type="submit">Postar</button>
				</div>
				{{#if falha}}
					<div class="aviso erro">
						<span>{{falha}}</span>
					</div>
				{{/if}}
			</div>
		</div>

        <script charset="utf-8">
            var postBtn = document.getElementById("postBtn"),
                progressBar = document.getElementById("progress");


            let uploadPost =  (data) =>
            {
                let xhr = new XMLHttpRequest();

                xhr.open("POST","postar",true);
                xhr.onreadystatechange = () =>
                {
					console.log(xhr.readyState);
                    if( xhr.readyState === 4 && xhr.status === 200 )
                    {
                        console.log(progressBar.value);
                        window.location.href = '/';
                    }
                };

                xhr.upload.onprogress = (event) =>
                {
					var percent = ( event.loaded / event.total ) * 100 ;
					console.log(percent);
					progressBar.value = percent;
                };


                xhr.send(data);

            }


            postBtn.addEventListener("click", (e) =>
            {
                var form = document.getElementById("form_post")
				var data = new FormData( form );
                this.disable = true;
                this.innerHTML = "Postando...";

                uploadPost(data);
            });
                
        </script>
	</body>
</html>
